<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Obtener mi cuenta premium</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form name="paymentForm">
			<div>
				<ion-card-header>
					<h2>PREMIUM</h2>
					<p>$19.99</p>
				</ion-card-header>
				  
				<ion-card-content>
					<p><br>Ver gráficos <br>
					Agregar más grupos</p>
				</ion-card-content>
			</div>
			<br>
			<button (click)="makePayment()" ion-button block icon-start>
					REALIZAR PAGO
			</button>

</form>
</ion-content>