<ion-header>
    <ion-navbar>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-list-header no-lines class="colorPrimary ">
            Habilidades de expresión
        </ion-list-header>
        <ion-row>
            <ion-col style="margin-left:8px;">
                <ion-label class="colorPrimary ">Selecciona</ion-label>
            </ion-col>
            <ion-col>
                <ion-label color="note">Dificultad</ion-label>
            </ion-col>
            <ion-col>
                <ion-label color="note">Habilidad</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-left:8px;">
                <h2>Hablar</h2>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle" color="secondary"></ion-checkbox>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-left:8px;">
                <h2>Leer</h2>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle" color="secondary"></ion-checkbox>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-left:8px;">
                <h2>Escribir</h2>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle" color="secondary"></ion-checkbox>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-left:8px;">
                <h2>Escuchar</h2>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-checkbox disabled="fasle" color="secondary"></ion-checkbox>
            </ion-col>
        </ion-row>
    </ion-card>



</ion-content>