<div>

    <button (click)="openPage(graficoBarra)" ion-item>
        <ion-avatar item-start>
            <img  src="../../assets/icon/nota.png">
        </ion-avatar>            
        <h2 >Auditory graphic</h2>                        
    </button>

    <button (click)="openPage(graficoLinea)" ion-item>
        <ion-avatar item-start>
            <img  src="../../assets/icon/ojo.png">
        </ion-avatar>            
        <h2 >Visuals graphic</h2>                        
    </button>

    <button (click)="openPage(graficoDona)" ion-item>
        <ion-avatar item-start>
            <img  src="../../assets/icon/kinestesico.png">
        </ion-avatar>            
        <h2 >Kinesthetic graphic </h2>                        
    </button>


</div>