<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Menú</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="trips detail-bg">
    <!--list of trips-->
    <div class="trip card" tappable margin-bottom (click)="crearGrupo()">
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + this.url1 + ')'}">
            <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="padding-sm primary-bg">
            <ion-icon name="add" class="text-white"></ion-icon>
            <span ion-text class="text-white">Crear Grupo</span>
        </div>
    </div>

    <div class="trip card" tappable (click)="misGrupos()" margin-bottom>
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + this.url2 + ')'}">
            <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="padding-sm primary-bg">
            <ion-icon name="add" class="text-white"></ion-icon>
            <span ion-text class="text-white">Mis Grupos</span>
        </div>
    </div>

    <div class="trip card" tappable margin-bottom>
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + this.url3 + ')'}">
            <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="padding-sm primary-bg">
            <ion-icon name="add" class="text-white"></ion-icon>
            <span ion-text class="text-white">Miembro de:</span>
        </div>
    </div>

    <div class="trip card" tappable (click)="misHijos()" margin-bottom>
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + this.url4 + ')'}">
            <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="padding-sm primary-bg">
            <ion-icon name="add" class="text-white"></ion-icon>
            <span ion-text class="text-white">Hijos</span>
        </div>
    </div>



</ion-content>