<div>
    <ion-list>
        <ion-item-divider class="cardColor textNegro">
            <h3>TEACHERS</h3>
        </ion-item-divider>
        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/icon/mujer.png">
            </ion-avatar>
            <h2>Mery </h2>
            <p>Smith</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/icon/adult.png">
            </ion-avatar>
            <h2>David</h2>
            <p>Johnson</p>
        </ion-item>
        <ion-item>
            <ion-badge item-start> Show more..</ion-badge>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item-divider class="cardColor textNegro">
            <h3>STUDENTS</h3>
        </ion-item-divider>
        <ion-item *ngFor="let nino of itemNino">
            <ion-avatar item-start>
                <img *ngIf="nino.sexo== 'M' " src="../../assets/icon/boy-clear.png">
                <img *ngIf="nino.sexo== 'F' " src="../../assets/icon/girl-clear.png">
            </ion-avatar>
            <h2>{{nino.nombre}}</h2>
            <p>{{nino.apellido1}}</p>
        </ion-item>

        <ion-item>
            <ion-badge item-start> ver mas..</ion-badge>
        </ion-item>
    </ion-list>
</div>