<ion-header>
    <ion-navbar>
      <ion-title>Anotarse</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h2> Introduce el código de clase</h2>
      <ion-list>
         <ion-item>
            <ion-input [(ngModel)]="link" placeholder="Código"></ion-input>
        </ion-item>
      </ion-list>
    <button ion-button full (click)="anotarse"> Anotarse </button>
  </ion-content>