<ion-card>

    <img src="../../assets/imgs/sinImagen.png" />

    <ion-card-content>
        <ion-card-title>
            Björk
        </ion-card-title>
        <p>
            Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
        </p>
    </ion-card-content>

    <ion-item>
        <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
        Albums
        <ion-badge item-end>9</ion-badge>
    </ion-item>

    <ion-item>
        <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
        Followers
        <ion-badge item-end>260k</ion-badge>
    </ion-item>

</ion-card>