page-form-nino {
    .backgroundGris {
        background-color: #F1F1F1;
    }


    .cc-selector{
        text-align:center;
    }

    .cc-selector input{
        text-align: center;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
    }    

    
    .visa{
        background-image:url(../../assets/icon/boy.png);
    }

    .mastercard{
        background-image:url(../../assets/icon/girl.png);
    }


    .cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
        -webkit-filter: none;
           -moz-filter: none;
                filter: none;
    }

    .drinkcard-cc{
        // border: 1px solid green;
        margin-left:8%;
        text-align: center;
        cursor:pointer;
        background-size:contain;
        background-repeat:no-repeat;
        display:inline-block;
        width:100px;height:70px;
        -webkit-transition: all 100ms ease-in;
           -moz-transition: all 100ms ease-in;
                transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
           -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
                filter: brightness(1.8) grayscale(1) opacity(.7);
    }

.options{
    position:fixed;
    background-color: white;
    z-index: 10;
}

.divOptions{
    margin-bottom: 15%;
}


    


}