<ion-header>
    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <h2>Crea actividades</h2>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content class="cardColor">
    <ion-card>

        <ion-item>
            <ion-label style="color: #4086CD !important;" floating>Agrega un ítulo a la actividad</ion-label>
            <ion-input style=" color: #A5A5A5; font-weight: normal; font-size: .8706em; line-height: 1;" maxlength="30" type="text" [(ngModel)]="actividad.titulo"></ion-input>
        </ion-item>

        <div text-center class="card-background-page">
            <img (click)="openGallery()" style="max-height: 60%;" *ngIf="!imagenPreviw" src="../../assets/imgs/sinImagen.png">
            <img (click)="openGallery()" style="max-height: 60%;" *ngIf="imagenPreviw" [src]="imagenPreviw">

            <p *ngIf="!imagenPreviw" class="card-subtitle">
                Agrega tu propia imagen
            </p>

        </div>

        <ion-list-header no-lines class="colorPrimary ">
            Descripción
        </ion-list-header>
        <ion-item>
            <ion-textarea class="colorNote" style="border:solid 2px #f2f3f4;" rows="3" maxLength="200" placeholder="Agrega una descripción" [(ngModel)]="actividad.descripcion " autocomplete="on " autocorrect="on "></ion-textarea> |
        </ion-item>

        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/icon/calendar.png">
            </ion-avatar>
            <ion-label class="colorNote">Inicio</ion-label>
            <ion-datetime class="colorNote" displayFormat="MMM DD, YYYY" [(ngModel)]="actividad.fechaInicio"></ion-datetime>
        </ion-item>



        <ion-list-header no-lines class="colorPrimary">
            Observaciones
        </ion-list-header>
        <ion-item>
            <ion-textarea class="colorNote" style="border:solid 2px #f2f3f4;" rows="3" maxLength="200" placeholder="Opcional" [(ngModel)]="actividad.observacion" autocomplete="on " autocorrect="on "></ion-textarea> |
        </ion-item>

        <ion-list-header no-lines class="colorPrimary ">
            Ánimo
        </ion-list-header>

        <ion-item>
            <ion-textarea class="colorNote" style="border:solid 2px #f2f3f4;margin-bottom: 20px;" rows="3" maxLength="100 " placeholder="Describe el ánimo" [(ngModel)]="actividad.animo " autocomplete="on " autocorrect="on "></ion-textarea> |
        </ion-item>

        <ion-row *ngIf="actividadEditar">
            <ion-list-header class="colorPrimary">
                Valoración
            </ion-list-header>
            <ion-item>
                <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#dee283" defaultColor="#f4f4f4" readonly="false" [rating]="actividad.valoracion">
                </ionic3-star-rating>
            </ion-item>
        </ion-row>
    </ion-card>

    <ion-row>
        <ion-col>
            <button ion-button icon-end (click)="guardarActividad()" [disabled]="actividad.titulo.length <= 1 ||actividad.descripcion.length <= 1 || actividad.fechaInicio.length == 0 || enProceso !== false" ion-button block icon-start>
                    {{textoBotonEnviar}}
              <ion-icon  name="{{iconoBoton}}"></ion-icon>
              
          </button>
        </ion-col>
    </ion-row>
</ion-content>