page-add-integrantes {
    .addGreen {
        background-color: #16e053;
        color: #ffff;
    }
    .colorPrimary {
        color: #488aff;
    }
    .colorNote {
        color: #A5A5A5;
    }
}