<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="colorPrimary">
                grupo.nombre
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div text-center>
        <h2 class="colorNote">Agrega integrantes al grupo</h2>
    </div>
    <ion-card>
        <button ion-item clear no-lines>
            <ion-avatar item-start>
                <img src="../../assets/icon/profesor.png">
                    </ion-avatar>
                        <h2>Profesores</h2>
                        
        </button>

        <button ion-item clear no-lines>
            <ion-avatar (click)="addEstudiantes()" item-start>
                <img src="../../assets/icon/estudiante.png">
                    </ion-avatar>
                        <h2>Estudiantes</h2>
                        
         </button>

        <button ion-item clear no-lines>
            <ion-avatar (click)="addPadres()" item-start>
                <img src="../../assets/icon/casa.png">
                    </ion-avatar>
                    <h2>Padres</h2>
                    
        </button>

    </ion-card>
</ion-content>