<div class="cardColor">
    <a></a>
    <ion-list>
        <ion-item (click)="navegarEstilosAprendizaje(item)" *ngFor="let item of items |async">
            <ion-avatar item-start>
                <img *ngIf="item.sexo == 'F' " src="../../assets/icon/girl.png">
                <img *ngIf="item.sexo == 'M' " src="../../assets/icon/boy.png">

            </ion-avatar>
            <h2>{{item.nombre}}</h2>
            <p>{{item.apellido1}}</p>
        </ion-item>
    </ion-list>
    <ion-fab right bottom>
        <button (click)="agregarNino()" ion-fab color="green"><ion-icon class="fontAdd" name="add"></ion-icon></button>
    </ion-fab>
</div>