<ion-header>

    <ion-navbar>
        <ion-item style="background-color: transparent;" no-lines>
            <ion-avatar item-start>
                <img *ngIf="estilo == 'visual'" src="../../assets/icon/ojo.png">
                <img *ngIf="estilo == 'auditivo'" src="../../assets/icon/nota.png">
                <img *ngIf="estilo == 'kinestesico'" src="../../assets/icon/kinestesico.png">
            </ion-avatar>
            <h2>{{estilo}}</h2>
            <!--<ion-avatar (click)="compartir()" style="margin-top: 20px; color:#488aff; font-size: 20px;" item-end>
                                            <ion-icon name='share'></ion-icon>
                        </ion-avatar>-->
        </ion-item>
    </ion-navbar>
</ion-header>


<ion-content class="cardColor">
    <ion-list>
        <button (click)="verActividad(actividad)" ion-item *ngFor="let actividad of items | async">
            <ion-avatar item-start>
                <img *ngIf="!actividad.urlImg" src="../../assets/imgs/sinImagen.png">
                <img *ngIf="actividad.urlImg" [src]="actividad.urlImg">
            </ion-avatar>

            <h3>{{actividad.titulo}}</h3>
            <ion-avatar item-end>
                <p>{{actividad.fechaInicio}}</p>
            </ion-avatar>
            <p>{{actividad.descripcion}}</p>
        </button>
    </ion-list>

    <ion-fab right bottom>
        <button (click)="agregarActividad()" ion-fab color="green"><ion-icon class="fontAdd" name="add"></ion-icon></button>
    </ion-fab>

</ion-content>